.header {
    position: relative;
}

.header-content {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    min-height: 80px;
    margin: 10px;
}