
.menu-box {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 15px;
}

.menu-img {
    transition: .8s ease-in-out;
}

.menu-img:hover {
    transform: rotate(360deg);

}

@media screen and ( max-width : 460px) {
    .menu-box {
        width: 45px;
        height: 45px;
    }
};
